
<form method="post" action="/home/postnumbers">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <input class="form-control" name="numbers[]" />
        </div>
        <div class="col-md-6 offset-md-3">
            <input class="form-control" name="numbers[]" />
        </div>
        <div class="col-md-6 offset-md-3">
            <input class="form-control" name="numbers[]" />
        </div>
        <div class="col-md-6 offset-md-3">
            <input class="form-control" name="numbers[]" />
        </div>
        <div class="col-md-6 offset-md-3">
            <input class="form-control" name="numbers[]" />
        </div>
        <div class="col-md-6 offset-md-3">
            <button class="btn btn-primary w-100">Submit</button>
        </div>
    </div>
</form>